# Q&A

In [57]:
import pandas as pd

df = pd.read_csv('orders.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990677 entries, 0 to 990676
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     990677 non-null  object
 1   order_date   990677 non-null  object
 2   ship_date    990677 non-null  object
 3   ship_mode    990677 non-null  object
 4   customer_id  990677 non-null  object
 5   product_id   990677 non-null  object
 6   sales        990677 non-null  float64
 7   quantity     990677 non-null  int64
 8   discount     990677 non-null  float64
 9   profit       990677 non-null  float64
 10  postal_code  191101 non-null  float64
 11  region_id    990484 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 90.7+ MB

In [5]:
~df.region_id.isna()

0         True
1         True
2         True
3         True
4         True
          ...
990672    True
990673    True
990674    True
990675    True
990676    True
Name: region_id, Length: 990677, dtype: bool

In [18]:
df.region_id.notna()

0         True
1         True
2         True
3         True
4         True
          ...
990672    True
990673    True
990674    True
990675    True
990676    True
Name: region_id, Length: 990677, dtype: bool

In [6]:
df.postal_code.isna()

0         False
1         False
2         False
3         False
4         False
          ...
990672     True
990673     True
990674     True
990675     True
990676     True
Name: postal_code, Length: 990677, dtype: bool

In [7]:
the_filter = (~df.region_id.isna()) & (df.postal_code.isna())

In [8]:
df[the_filter]

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
317,CA-2016-141649,30/09/2016 00:00,30/09/2016 00:00,Same Day,DM-12955,OFF-AP-10003217,795.41,6,0.40,59.66,NaN,4792.0
1451,CA-2017-1120240,13/05/2017 00:00,16/05/2017 00:00,Same Day,AG-10495,OFF-LA-10001982,9.00,3,0.02,0.00,NaN,1784.0
2082,CA-2017-1638483,13/09/2017 00:00,14/09/2017 00:00,Same Day,SJ-20125,OFF-LA-10003714,12.00,4,0.02,0.00,NaN,3998.0
7305,CA-2018-2089964,04/07/2018 00:00,06/07/2018 00:00,Same Day,NF-18385,OFF-ENE-10002922,57.00,2,0.03,0.00,NaN,71845.0
25824,CA-2019-4962783,26/10/2019 00:00,31/10/2019 00:00,Same Day,RD-19810,OFF-LA-10001982,30.00,8,0.05,0.00,NaN,3539.0
...,...,...,...,...,...,...,...,...,...,...,...,...
990672,ZI-2020-4818465,08/01/2020 00:00,09/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3104.0
990673,ZI-2020-495856,04/01/2020 00:00,09/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
990674,ZI-2020-5409624,13/01/2020 00:00,18/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
990675,ZI-2020-5478741,10/01/2020 00:00,10/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
990676,ZI-2020-5986855,08/01/2020 00:00,11/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0

In [11]:
df.groupby('region_id').postal_code.count().sort_values()

region_id
38.0           0
22192.0        0
23235.0        0
23332.0        0
23428.0        0
           ...
3849.0         1
3688.0     30117
1488.0     44170
5636.0     54889
4553.0     61924
Name: postal_code, Length: 149, dtype: int64

In [13]:
df.drop_duplicates(subset='postal_code').groupby('region_id').postal_code.count().sort_values()

region_id
5636.0    114
3688.0    134
4553.0    170
1488.0    186
Name: postal_code, dtype: int64

In [16]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
990672    False
990673    False
990674    False
990675    False
990676    False
Length: 990677, dtype: bool

In [17]:
df.duplicated().sum()

0

In [20]:
df['order_id']

0         CA-2016-2608109
1         ES-2018-1945518
2          ES-2018-853948
3         ES-2019-1912507
4         ES-2019-2038080
               ...
990672    ZI-2020-4818465
990673     ZI-2020-495856
990674    ZI-2020-5409624
990675    ZI-2020-5478741
990676    ZI-2020-5986855
Name: order_id, Length: 990677, dtype: object

In [22]:
df['region_id']

0         4553.0
1         4553.0
2         1488.0
3         1488.0
4         5636.0
           ...
990672    3104.0
990673    3210.0
990674    3539.0
990675    3855.0
990676     783.0
Name: region_id, Length: 990677, dtype: float64

In [23]:
df['region_id'].describe()

count    990484.000000
mean       6370.767934
std       10458.933204
min          38.000000
25%        2125.000000
50%        3688.000000
75%        5636.000000
max       98923.000000
Name: region_id, dtype: float64

<img src='donkey3.jpg' width=200>

In [24]:
df

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,CA-2016-2608109,17/09/2016 00:00,17/09/2016 00:00,Same Day,TT-21070,OFF-FA-10002280,45.00,9,0.00,0.00,90049.0,4553.0
1,ES-2018-1945518,29/08/2018 00:00,02/09/2018 00:00,Same Day,AC-10420,OFF-FA-10001724,114.00,10,0.03,0.00,80013.0,4553.0
2,ES-2018-853948,28/07/2018 00:00,29/07/2018 00:00,Same Day,AC-10420,OFF-FA-10001724,114.00,10,0.03,0.00,77095.0,1488.0
3,ES-2019-1912507,01/04/2019 00:00,05/04/2019 00:00,Same Day,MD-17860,OFF-PA-10001758,114.00,4,0.05,0.00,77095.0,1488.0
4,ES-2019-2038080,25/03/2019 00:00,28/03/2019 00:00,Same Day,MD-17860,OFF-PA-10001758,114.00,4,0.05,0.00,8701.0,5636.0
...,...,...,...,...,...,...,...,...,...,...,...,...
990672,ZI-2020-4818465,08/01/2020 00:00,09/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3104.0
990673,ZI-2020-495856,04/01/2020 00:00,09/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
990674,ZI-2020-5409624,13/01/2020 00:00,18/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
990675,ZI-2020-5478741,10/01/2020 00:00,10/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
990676,ZI-2020-5986855,08/01/2020 00:00,11/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0

In [60]:
df['order_date'] = pd.to_datetime(df.order_date, format='%d/%m/%Y %H:%M')
df['order_date']

0        2016-09-17
1        2018-08-29
2        2018-07-28
3        2019-04-01
4        2019-03-25
            ...
990672   2020-01-08
990673   2020-01-04
990674   2020-01-13
990675   2020-01-10
990676   2020-01-08
Name: order_date, Length: 990677, dtype: datetime64[ns]

In [61]:
df['ship_date'] = pd.to_datetime(df.ship_date, format='%d/%m/%Y %H:%M')
df['ship_date']

0        2016-09-17
1        2018-09-02
2        2018-07-29
3        2019-04-05
4        2019-03-28
            ...
990672   2020-01-09
990673   2020-01-09
990674   2020-01-18
990675   2020-01-10
990676   2020-01-11
Name: ship_date, Length: 990677, dtype: datetime64[ns]

In [62]:
df['ship_date'] - df['order_date']

0        0 days
1        4 days
2        1 days
3        4 days
4        3 days
          ...
990672   1 days
990673   5 days
990674   5 days
990675   0 days
990676   3 days
Length: 990677, dtype: timedelta64[ns]

In [69]:
df['order_date'].dt.day

0         17
1         29
2         28
3          1
4         25
          ..
990672     8
990673     4
990674    13
990675    10
990676     8
Name: order_date, Length: 990677, dtype: int64

In [56]:
df['order_day'] = df['order_date'].dt.day
df['order_day']

0         17
1         29
2         28
3          4
4         25
          ..
990672     1
990673     1
990674    13
990675     1
990676     1
Name: order_day, Length: 990677, dtype: int64

In [28]:
df['order_date'].dt.month

0          9
1          8
2          7
3          1
4          3
          ..
990672     8
990673     4
990674     1
990675    10
990676     8
Name: order_date, Length: 990677, dtype: int64

In [29]:
df['order_date'].dt.year

0         2016
1         2018
2         2018
3         2019
4         2019
          ...
990672    2020
990673    2020
990674    2020
990675    2020
990676    2020
Name: order_date, Length: 990677, dtype: int64

In [33]:
df['order_date'].dt.date

0         2016-09-17
1         2018-08-29
2         2018-07-28
3         2019-01-04
4         2019-03-25
             ...
990672    2020-08-01
990673    2020-04-01
990674    2020-01-13
990675    2020-10-01
990676    2020-08-01
Name: order_date, Length: 990677, dtype: object

In [34]:
df['order_date'].dt.time

0         00:00:00
1         00:00:00
2         00:00:00
3         00:00:00
4         00:00:00
            ...
990672    00:00:00
990673    00:00:00
990674    00:00:00
990675    00:00:00
990676    00:00:00
Name: order_date, Length: 990677, dtype: object

In [31]:
df['order_date'].dt.quarter

0         3
1         3
2         3
3         1
4         1
         ..
990672    3
990673    2
990674    1
990675    4
990676    3
Name: order_date, Length: 990677, dtype: int64

In [32]:
df['order_date'].dt.day_name()

0          Saturday
1         Wednesday
2          Saturday
3            Friday
4            Monday
            ...
990672     Saturday
990673    Wednesday
990674       Monday
990675     Thursday
990676     Saturday
Name: order_date, Length: 990677, dtype: object

In [37]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id', 'order_day'],
      dtype='object')

In [38]:
df[['order_day', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id']]

,order_day,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,17,CA-2016-2608109,2016-09-17,17/09/2016 00:00,Same Day,TT-21070,OFF-FA-10002280,45.00,9,0.00,0.00,90049.0,4553.0
1,29,ES-2018-1945518,2018-08-29,02/09/2018 00:00,Same Day,AC-10420,OFF-FA-10001724,114.00,10,0.03,0.00,80013.0,4553.0
2,28,ES-2018-853948,2018-07-28,29/07/2018 00:00,Same Day,AC-10420,OFF-FA-10001724,114.00,10,0.03,0.00,77095.0,1488.0
3,4,ES-2019-1912507,2019-01-04,05/04/2019 00:00,Same Day,MD-17860,OFF-PA-10001758,114.00,4,0.05,0.00,77095.0,1488.0
4,25,ES-2019-2038080,2019-03-25,28/03/2019 00:00,Same Day,MD-17860,OFF-PA-10001758,114.00,4,0.05,0.00,8701.0,5636.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
990672,1,ZI-2020-4818465,2020-08-01,09/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3104.0
990673,1,ZI-2020-495856,2020-04-01,09/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
990674,13,ZI-2020-5409624,2020-01-13,18/01/2020 00:00,Second Class,JC-15775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
990675,1,ZI-2020-5478741,2020-10-01,10/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
990676,1,ZI-2020-5986855,2020-08-01,11/01/2020 00:00,Standard Class,JC-15775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0

In [66]:
pd.__version__

'1.5.3'

In [ ]:
#!pip install --upgrade pandas

In [67]:
df2 = pd.read_csv('orders.csv', parse_dates=['order_date', 'ship_date'])

In [68]:
df2.dtypes

order_id               object
order_date     datetime64[ns]
ship_date      datetime64[ns]
ship_mode              object
customer_id            object
product_id             object
sales                 float64
quantity                int64
discount              float64
profit                float64
postal_code           float64
region_id             float64
dtype: object

In [72]:
zainab_dic = {'Same Day': 0,
              'First Class':1,
             'Second Class':2,
             'Standard Class':3}

zainab_dic

{'Same Day': 0, 'First Class': 1, 'Second Class': 2, 'Standard Class': 3}

In [78]:
df.ship_mode.head()

0    Same Day
1    Same Day
2    Same Day
3    Same Day
4    Same Day
Name: ship_mode, dtype: object

In [76]:
df.ship_mode.map(zainab_dic)

0         0
1         0
2         0
3         0
4         0
         ..
990672    3
990673    2
990674    2
990675    3
990676    3
Name: ship_mode, Length: 990677, dtype: int64